
<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from capitalswiss.click/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2025 03:07:54 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/remixicon.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/odometer.min.css">
<link rel="stylesheet" href="assets/css/fancybox.css">
<link rel="stylesheet" href="assets/css/aos.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="assets/css/dark-theme.css">

<link rel="shortcut icon" href="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" type="image/png">
<title>Capital Swift Bank</title>

<meta name="google-site-verification" content="SbrGc2Y7auf_PMjW6ghiQwCAoQL9ORQabkUVebslT1c" />

<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta property="og:image" content="">
</head>
<body>

<div class="preloader js-preloader">
<div class="loader loader-inner-1">
<div class="loader loader-inner-2">
<div class="loader loader-inner-3">
</div>
</div>
</div>
</div>
<div class="switch-theme-mode">
<label id="switch" class="switch">
<input type="checkbox" onchange="toggleTheme()" id="slider">
<span class="slider round"></span>
</label>
</div>
<div class="page-wrapper">

<header class="header-wrap style2">
<div class="header-top">
<div class="container">
<div class="row align-items-center">
    <div class="col-lg-8">
        <div class="header-top-left">
            <ul class="contact-info list-style">
                <!--<li>-->
                <!--    <i class="ri-phone-fill"></i>-->
                <!--    <a href="tel:"></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--    <i class="ri-mail-open-line"></i>-->
                <!--    <a href="mailto:"><span class="__cf_email__" data-cfemail="432b262f2f2c032036263b6d202c2e"></span></a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="header-top-right">
            <div id="google_translate_element"></div>
        </div>
    </div>
</div>
</div>
</div>
<div class="header-bottom">
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand">
        <img width="170px" class="logo-light" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="logo">
        <img width="170px" class="logo-dark" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="logo">
    </a>
    <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
        <div class="menu-close d-lg-none">
            <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
        </div>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about-us" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Converter
                    <i class="ri-arrow-down-s-line"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a href="/converter" class="nav-link">Convert Currency</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chart" class="nav-link">Currency Chart</a>
                    </li>
                    <li class="nav-item">
                        <a href="/alerts" class="nav-link">Exchange Rate Alert</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    Pages
                    <i class="ri-arrow-down-s-line"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a href="/faq" class="nav-link">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Access Account
                            <i class="ri-arrow-right-s-line"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="nav-link">Register</a>
                            </li>
                            <!-- <li class="nav-item"> -->
                                <!-- <a href="/recover-password" class="nav-link">Recover Password</a> -->
                            <!-- </li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/terms-of-service" class="nav-link">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="/privacy-policy" class="nav-link">Privacy Policy</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="/contact-us" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item d-lg-none">
                <a href="/login" class="nav-link btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
            </li>
        </ul>
        <div class="other-options md-none">
            <div class="option-item">
                <div class="user-login">
                    <span><i class="ri-user-add-line"></i></span>
                    <ul class="list-style">
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/register">Create Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="option-item">
                <a href="/login" class="btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
            </div>
        </div>
    </div>
</nav>
<div class="mobile-bar-wrap">
    <div class="user-login d-lg-none">
        <span><i class="ri-user-add-line"></i></span>
        <ul class="list-style">
            <li><a href="/login">Log In</a></li>
            <li><a href="/register">Create Account</a></li>
        </ul>
    </div>
    <div class="mobile-menu d-lg-none">
        <a href="javascript:void(0)"><i class="ri-menu-line"></i>
        </a>
        <span>Menu</span>
    </div>
</div>
</div>
</div>
</header>    <section class="hero-wrap style2">
<div class="container">
<div class="hero-shape" data-speed="0.06" data-revert="true">
<img src="assets/img/hero/hero-shape-4.png" alt="Image" class="hero-shape-one">
<img src="assets/img/hero/hero-shape-5.png" alt="Image" class="hero-shape-two">
<img src="assets/img/hero/hero-shape-6.png" alt="Image" class="hero-shape-three">
</div>
<div class="row align-items-center gx-5">
<div class="col-lg-6">
<div class="hero-content">
  <span data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">SIMPLE, QUICK, SECURED</span>
  <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">Transfer Money Across The World In Real time</h1>
  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    Our innovative financial solutions keep pace with your life and your business.
    Capital Swiss is here to help you thrive.
  </p>
  <div class="hero-btn" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
    <a href="/login" class="btn style1">Login<i class="ri-arrow-right-s-line"></i></a>
    <a class="play-video" data-fancybox="" href="#">
      <span class="play-now icon">
        <i class="ri-play-fill"></i>
      </span>
      <span class="link-text"></span>
    </a>
  </div>
  <div class="hero-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
    <div class="hero-contact-img">
      <a href="/contact">
        <img src="assets/img/testimonials/client-1.jpg" alt="Image">
      </a>
      <a href="/contact">
        <img src="assets/img/testimonials/client-2.jpg" alt="Image">
      </a>
      <a href="/contact">
        <img src="assets/img/testimonials/client-3.jpg" alt="Image">
      </a>
    </div>
    <div class="hero-contact-text">
      <p>Need Help? Contact our <a href="/contact-us" class="link style1">Capital Swiss support</a> &amp; tell us about your query.</p>
    </div>
  </div>
</div>
</div>
<div class="col-lg-6">
<div class="hero-img-wrap">
  <div class="hero-promo-text bounce">
    <span><i class="flaticon-group"></i></span>
    <h6>20M+ <span>Active Users</span></h6>
  </div>
  <div class="hero-img-one">
    <img src="assets/img/hero/hero-img-2.jpg" alt="Image">
  </div>
  <div class="hero-img-two">
    <img src="assets/img/hero/hero-img-3.jpg" alt="Image">
  </div>
</div>
</div>
</div>
</div>
</section>


<section class="about-wrap style2 pb-100">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
<div class="about-img-wrap">
  <img src="assets/img/shape-1.png" alt="Image" class="about-shape-one">
  <div class="about-img-one">
    <img src="assets/img/about/about-img-5.jpg" alt="Image">
  </div>
  <div class="about-img-two">
    <img src="assets/img/about/about-img-6.jpg" alt="Image">
  </div>
</div>
</div>
<div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
<div class="about-content">
  <div class="content-title style1">
    <span>ABOUT US</span>
    <h2>Transfer &amp; Exchange Your Money Anytime In this World</h2>
    <p>
      Move funds between your accounts and schedule transfers, plus use
      Send Money with Zelle® to pay friends quickly, easily and for free.
      View all your account activity and balances, pay bills automatically,
      set up e-mail alerts and more.
    </p>
  </div>
  <div class="feature-item-wrap">
    <div class="feature-item">
      <div class="feature-icon">
        <i class="flaticon-application"></i>
      </div>
      <div class="feature-text">
        <h3>Powerful Mobile &amp; Online App</h3>
        <p>
          View all your account activity and balances,
          pay bills automatically, set up e-mail alerts and more.
        </p>
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-icon">
        <i class="flaticon-speedometer"></i>
      </div>
      <div class="feature-text">
        <h3>Brings More Transperency &amp; Speed</h3>
        <p>
          Log in with Touch ID and single-use security code. At setup,
          you can select how to receive your security code: text or voice message
        </p>
      </div>
    </div>
  </div>
  <a href="/about-us" class=" btn style1">READ MORE<i class="ri-arrow-right-s-line"></i></a>
</div>
</div>
</div>
</div>
</section>


<div class="feature-wrap style1 ptb-100 bg-whisper">
<div class="container">
<div class="row">
<div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1">
<div class="section-title style1 text-center mb-40">
  <span>POPULAR CURRENCY TOOLS</span>
  <h2>Set Up &amp; Exchange Money From Your Cards In A Minute</h2>
</div>
</div>
</div>
<div class="feature-slider-one owl-carousel">
<div class="feature-card style3">
<div class="feature-title">
  <span>
    <i class="flaticon-hand"></i>
  </span>
  <h3><a href="/send-money">Money Transfer</a></h3>
</div>
<p>
  Get the most out of your accounts with secure online services like Bill Pay,
  Send Money with Zelle, online statements, e-mail alerts and more.
</p>
<a href="/send-money" class="link style1">SEND MONEY<i class="ri-arrow-right-s-line"></i></a>
</div>
<div class="feature-card style3">
<div class="feature-title">
  <span>
    <i class="flaticon-pie-chart"></i>
  </span>
  <h3><a href="/chart">Curreny Charts</a></h3>
</div>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
<a href="/chart" class="link style1">VIEW CHART<i class="ri-arrow-right-s-line"></i></a>
</div>
<div class="feature-card style3">
<div class="feature-title">
  <span>
    <i class="flaticon-notification"></i>
  </span>
  <h3><a href="/login">Rate Alerts</a></h3>
</div>
<p>
  Our currency experts monitor for
  your target rate when you sign up for rate alerts.
</p>
<a href="/login" class="link style1">CREATE ALERT<i class="ri-arrow-right-s-line"></i></a>
</div>
<div class="feature-card style3">
<div class="feature-title">
  <span>
    <i class="flaticon-user-2"></i>
  </span>
  <h3><a href="/register">Create Account</a></h3>
</div>
<p>
  Coin Checking&trade; for the digital world.
  The account that's ready to use and ready to help you take control of your money.
</p>
<a href="/register" class="link style1">GET STARTED <i class="ri-arrow-right-s-line"></i></a>
</div>
</div>
</div>
</div>


<section class="wh-wrap style2 ptb-100">
<div class="container">
<div class="row gx-5 align-items-center">
<div class="col-lg-6 order-lg-1 order-md-2 order-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<div class="wh-content">
  <div class="content-title style1">
    <span>WHY CHOOSE US</span>
    <h2>We Provide Currency Exchange Services World Wide</h2>
    <p>
      Better means faster. Smarter. Tailored. From lending services and
      products to creative ways to take
      your business to the next level, we will help guide you at every step.
      <br>
      <b>
        Better banking solutions for your business.
      </b>
    </p>
  </div>
  <div class="feature-item-wrap">
    <div class="feature-item">
      <div class="feature-icon">
        <i class="flaticon-tick"></i>
      </div>
      <div class="feature-text">
        <h3>Historical Currency Rates</h3>
        <p>
          With this convenient tool you can review market history and analyse rate trends for any currency pair.
          All charts are interactive, use mid-market rates
        </p>
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-icon">
        <i class="flaticon-tick"></i>
      </div>
      <div class="feature-text">
        <h3>Travel Expense Calculator</h3>
        <p>
          Budget Your Trip is designed to help you plan a better vacation by
          gathering travel costs for various destinations around the world.</p>
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-icon">
        <i class="flaticon-tick"></i>
      </div>
      <div class="feature-text">
        <h3>Currency Email Updates</h3>
        <p>
          Daily currency newsletter. Get daily analysis of currency markets,
          exchange rates, and news delivered straight to your inbox.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-lg-6 order-lg-2 order-md-1 order-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<div class="row align-items-end">
  <div class="col-6 wh-img-wrap">
    <img src="assets/img/shape-2.png" alt="Image" class="wh-shape-one moveHorizontal">
    <div class="wh-img">
      <img src="assets/img/why-choose-us/wh-img-4.jpg" alt="Image">
    </div>
    <div class="wh-img">
      <img src="assets/img/why-choose-us/wh-img-5.jpg" alt="Image">
    </div>
  </div>
  <div class="col-6 wh-img-wrap">
    <div class="wh-img">
      <img src="assets/img/shape-3.png" alt="Image" class="wh-shape-two bounce">
      <img src="assets/img/why-choose-us/wh-img-6.jpg" alt="Image">
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>



<div class="feature-wrap style1 pt-100 pb-75 bg-whisper">
<div class="container">
<div class="row">
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
<div class="section-title style1 text-center mb-40">
  <span>YOUR BENIFITS</span>
  <h2>The Most Trusted Currency Exchange Is Here For Giving Services</h2>
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-planet-earth"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Global Coverage</a></h3>
    <p>
      Coverage mandate encompasses the responsibility
      for the Bank relationship with clients at a global scale
    </p>
  </div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-money-bag-1"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Easy Transfer Method</a></h3>
    <p>
      We provide you with fund transfer to bank own account,
      interbank fund transfer, telegraphic fund transfer, payment history
    </p>
  </div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-notification"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Global 24/7 Support</a></h3>
    <p>
      Most banks are all about the numbers. At Capital Swift,
      we're all about 24/7, 365. Live Customer Service, that is.
    </p>
  </div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-money-1"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Lowest Fee</a></h3>
    <p>
      Compare money transfer providers. We use the REAL
      exchange rate and charges a low, transparent fee. That's why it's cheaper.
    </p>
  </div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-automation"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Instant Processing</a></h3>
    <p>
      When you transfer funds via any of our banking channels, the beneficiary will receive your
      funds transfer in his/her bank account immediately
    </p>
  </div>
</div>
</div>
<div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
<div class="feature-card style4">
  <div class="feature-icon">
    <i class="flaticon-shield"></i>
  </div>
  <div class="feature-info">
    <h3><a href="#">Bank Level Security</a></h3>
    <p>
      Log in with Touch ID and single-use security code. At setup,
      you can select how to receive your security code: text or voice message
    </p>
  </div>
</div>
</div>
</div>
</div>
</div>

<section class="testimonial-wrap ptb-100">
<div class="container">
<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
<div class="section-title style1 text-center mb-40">
<span>OUR REVIEWS</span>
<h2>More Than 20M+ Happy Customers Trust Our Services</h2>
</div>
</div>
<div class="testimonial-slider-two owl-carousel">
<div class="testimonial-card style3">
<div class="client-info-area">
  <div class="client-info-wrap">
    <div class="client-img">
      <img src="assets/img/testimonials/client-3.jpg" alt="Image">
    </div>
    <div class="client-info">
      <h3>Jim Morison</h3>
      <span>Director, BAT</span>
    </div>
  </div>
  <div class="quote-icon">
    <i class="flaticon-quotation-mark"></i>
  </div>
</div>
<p class="client-quote">
  They are easy to work with and really understand local businesses.
  Thank you for seeing the big picture and having faith in us!"
</p>
</div>
<div class="testimonial-card style3">
<div class="client-info-area">
  <div class="client-info-wrap">
    <div class="client-img">
      <img src="assets/img/testimonials/client-4.jpg" alt="Image">
    </div>
    <div class="client-info">
      <h3>Alex Cruis</h3>
      <span>CEO, IBAC</span>
    </div>
  </div>
  <div class="quote-icon">
    <i class="flaticon-quotation-mark"></i>
  </div>
</div>
<p class="client-quote">
  "All the people we have worked with over the past two years at
  Capital Swift have been so professional, helpful and supportive.
</p>
</div>
<div class="testimonial-card style3">
<div class="client-info-area">
  <div class="client-info-wrap">
    <div class="client-img">
      <img src="assets/img/testimonials/client-5.jpg" alt="Image">
    </div>
    <div class="client-info">
      <h3>Tom Haris</h3>
      <span>Engineer, Olleo</span>
    </div>
  </div>
  <div class="quote-icon">
    <i class="flaticon-quotation-mark"></i>
  </div>
</div>
<p class="client-quote">
  "A bank that focuses on relationships really understands what a business
  needs. Our loan gave us the capacity to give back to the community.
</div>
<div class="testimonial-card style3">
<div class="client-info-area">
  <div class="client-info-wrap">
    <div class="client-img">
      <img src="assets/img/testimonials/client-1.jpg" alt="Image">
    </div>
    <div class="client-info">
      <h3>Harry Jackson</h3>
      <span>Enterpreneur</span>
    </div>
  </div>
  <div class="quote-icon">
    <i class="flaticon-quotation-mark"></i>
  </div>
</div>
<p class="client-quote">
  "We switched all our banking to Capital Swift, which was smooth
  and easy. They listen and truly
  understand agriculture and the needs of our business."
</p>
</div>
<div class="testimonial-card style3">
<div class="client-info-area">
  <div class="client-info-wrap">
    <div class="client-img">
      <img src="assets/img/testimonials/client-2.jpg" alt="Image">
    </div>
    <div class="client-info">
      <h3>Chris Makovic</h3>
      <span>MD, ITec</span>
    </div>
  </div>
  <div class="quote-icon">
    <i class="flaticon-quotation-mark"></i>
  </div>
</div>
<p class="client-quote">
  We are extremely happy with the level of
  support for our two companies, including much-needed PPP funding
</p>
</div>
</div>
</div>
</section>
<footer class="footer-wrap">©2025  <div class="container">
    <div class="row pt-100 pb-75">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
        <div class="footer-widget">
          <a href="#" class="footer-logo">
            <img width="200px" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="Image">
          </a>
          <p class="comp-desc">
            Copyright ©2025 Clients may be referred to Capital Swift Ameritrade, Inc.,
            member FINRA/00/WSS/SIPC/NFA
            (Capital Swiss Ameritrade) for brokerage services and
            additional investing options. Capital Swiss Group has an ownership interest in
            Capital Swift Ameritrade Holding Corporation,
            the parent company of Capital Swift Ameritrade, Inc.

          </p>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Resources</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/contact">
                Contact Us
              </a>
            </li>
            <li>
              <a href="/faq">
                FAQ's
              </a>
            </li>

            <li>
              <a href="/privacy-policy">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="/terms-of-service">
                Terms &amp; Conditions
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Transfer Money</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/login">
                Register/Login
              </a>
            </li>
            <li>
              <a href="/chart">
                Currency Chart
              </a>
            </li>
            <li>
              <a href="/login">
                USA Money Transfer
              </a>
            </li>
            <li>
              <a href="/login">
                EUR Money Transfer
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Contact Us</h3>
          <ul class="contact-info list-style">
            <li>
              <i class="ri-map-pin-fill"></i>
              <p>Ohio United States</p>
            </li>
            <li>
              <i class="ri-mail-open-fill"></i>
              <a href="mailto: piuspolocha1231@gmail.com"><span><span>support@capitalswiss.swift</span></span></a>
            </li>
            <li>
              <i class="ri-phone-fill"></i>
              <a href="tel:N/A">N/A</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Capital Swift </span>. All Rights
          Reserved By <a href="#">Capital Swift</a>&trade;</p>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="http://code.tidio.co/dtvfgsp8usgp6rxzuv1v9ullmirlv0j6.js" async></script> -->
</div>


<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>

<script data-cfasync="false" src="https://capitalswiss.click/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/fancybox.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/tweenmax.min.js"></script>
<script src="assets/js/main.js"></script>



<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({
pageLanguage: 'en'
}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style type="text/css">.goog-logo-link {
display: none !important;
}

.goog-te-gadget {
color: transparent !important;
border-color: transparent !important;
background-color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
width: 184px;
padding: 1px;
font-weight: bold;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: whitesmoke !important;
border-radius: 5px;
font-size: 13px;
border-color: transparent !important;
background-color: #D10404 !important;
}
</style>
</body>

<!-- Mirrored from capitalswiss.click/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jan 2025 03:08:02 GMT -->
</html>