
<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from capitalswiss.click/privacy-policy by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Jan 2025 23:55:08 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/flaticon.css">
   <link rel="stylesheet" href="assets/css/remixicon.css">
   <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="assets/css/odometer.min.css">
   <link rel="stylesheet" href="assets/css/fancybox.css">
   <link rel="stylesheet" href="assets/css/aos.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="assets/css/responsive.css">
   <link rel="stylesheet" href="assets/css/dark-theme.css">

   <link rel="shortcut icon" href="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" type="image/png">
   <script src="../unpkg.com/sweetalert%402.1.2/dist/sweetalert.min.js"></script>
   <title>Welcome to Capital Swift</title>

   <meta name="description" content="">
   <meta property="og:image" content="assets/image/preview.png">
   <meta name="robots" content="noindex,nofollow">
</head>
<body>

   <div class="preloader js-preloader">
    <div class="loader loader-inner-1">
        <div class="loader loader-inner-2">
            <div class="loader loader-inner-3">
            </div>
        </div>
    </div>
</div>

   <div class="switch-theme-mode">
      <label id="switch" class="switch">
         <input type="checkbox" onchange="toggleTheme()" id="slider">
         <span class="slider round"></span>
      </label>
   </div>


   <div class="page-wrapper">

      <header class="header-wrap style1">
   <div class="header-top">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <div class="header-top-left">
                  <ul class="contact-info list-style">
                     <!--<li>-->
                     <!--   <i class="ri-phone-fill"></i>-->
                     <!--   <a href="tel:"></a>-->
                     <!--</li>-->
                     <li>
                        <i class="ri-mail-open-line"></i>
                        <a href="mailto: cshrem04@gmail.com"><span><span>support@capitalswift.click</span></span></a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="header-top-right">
                  <div id="google_translate_element"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
    <div class="header-bottom">
      <div class="container">
         <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
               <img width="170px" class="logo-light" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="logo">
               <img width="170px" class="logo-dark" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="logo">
            </a>
            <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
               <div class="menu-close d-lg-none">
                  <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
               </div>
               <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                     <a href="/" class="nav-link">
                        Home
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/about-us" class="nav-link">
                        About
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        Converter
                        <i class="ri-arrow-down-s-line"></i>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="nav-item">
                           <a href="/converter" class="nav-link">Convert Currency</a>
                        </li>
                        <li class="nav-item">
                           <a href="/chart" class="nav-link">Currency Chart</a>
                        </li>

                        <li class="nav-item">
                           <a href="/alerts" class="nav-link">Exchange Rate Alert</a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        Pages
                        <i class="ri-arrow-down-s-line"></i>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="nav-item">
                           <a href="/faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              Access Account
                              <i class="ri-arrow-right-s-line"></i>
                           </a>
                           <ul class="dropdown-menu">
                              <li class="nav-item">
                                 <a href="/login" class="nav-link">Login</a>
                              </li>
                              <li class="nav-item">
                                 <a href="/register" class="nav-link">Register</a>
                              </li>
                              <!-- <li class="nav-item"> -->
                                 <!-- <a href="https://capitalswiss.click/recover-password" class="nav-link">Recover Password</a> -->
                              <!-- </li> -->
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a href="/terms-of-service" class="nav-link">Terms of Service</a>
                        </li>
                        <li class="nav-item">
                           <a href="/privacy-policy" class="nav-link">Privacy Policy</a>
                        </li>

                     </ul>
                  </li>

                  <li class="nav-item">
                     <a href="/contact-us" class="nav-link">Contact Us</a>
                  </li>
                  <li class="nav-item d-lg-none">
                     <a href="/login" class="nav-link btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
                  </li>
               </ul>
               <div class="other-options md-none">
                  <div class="option-item">
                     <div class="user-login">
                        <span><i class="ri-user-add-line"></i></span>
                        <ul class="list-style">
                           <li><a href="/login">Log In</a></li>
                           <li><a href="/register">Create Account</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="option-item">
                     <a href="/login" class="btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
                  </div>
               </div>
            </div>
         </nav>
         <div class="mobile-bar-wrap">
            <div class="user-login d-lg-none">
               <span><i class="ri-user-add-line"></i></span>
               <ul class="list-style">
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/register">Create Account</a></li>
               </ul>
            </div>
            <div class="mobile-menu d-lg-none">
               <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
               <span>Menu</span>
            </div>
         </div>
      </div>
   </div>
</header>
 <script language="javascript">document.write(unescape('%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%63%6F%6E%74%65%6E%74%2D%77%72%61%70%70%65%72%22%3E%0A%0A%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%62%72%65%61%64%63%72%75%6D%62%2D%77%72%61%70%20%62%67%2D%66%20%62%72%2D%31%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%63%6F%6E%74%61%69%6E%65%72%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%62%72%65%61%64%63%72%75%6D%62%2D%74%69%74%6C%65%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%32%3E%50%72%69%76%61%63%79%20%50%6F%6C%69%63%79%3C%2F%68%32%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%75%6C%20%63%6C%61%73%73%3D%22%62%72%65%61%64%63%72%75%6D%62%2D%6D%65%6E%75%20%6C%69%73%74%2D%73%74%79%6C%65%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%3C%61%20%68%72%65%66%3D%22%22%3E%48%6F%6D%65%20%3C%2F%61%3E%3C%2F%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%50%72%69%76%61%63%79%20%50%6F%6C%69%63%79%3C%2F%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%75%6C%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%0A%0A%20%20%20%20%20%20%20%20%20%3C%73%65%63%74%69%6F%6E%20%63%6C%61%73%73%3D%22%74%65%72%6D%73%2D%77%72%61%70%20%70%74%2D%31%30%30%20%70%62%2D%37%35%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%63%6F%6E%74%61%69%6E%65%72%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%72%6F%77%20%67%78%2D%35%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%63%6F%6C%2D%6C%67%2D%31%32%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%73%69%6E%67%6C%65%2D%74%65%72%6D%73%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%33%3E%49%6E%66%6F%72%6D%61%74%69%6F%6E%20%43%6F%6C%6C%65%63%74%69%6F%6E%3C%2F%68%33%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%50%72%6F%74%65%63%74%69%6E%67%20%79%6F%75%72%20%70%65%72%73%6F%6E%61%6C%20%61%6E%64%20%66%69%6E%61%6E%63%69%61%6C%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%69%73%20%61%20%70%72%69%6F%72%69%74%79%20%61%74%20%55%6E%69%6B%20%53%61%76%69%6E%67%73%20%3C%62%72%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%50%6C%65%61%73%65%20%74%61%6B%65%20%74%69%6D%65%20%74%6F%20%72%65%61%64%20%6F%75%72%20%50%72%69%76%61%63%79%20%50%6F%6C%69%63%79%20%74%6F%20%75%6E%64%65%72%73%74%61%6E%64%20%68%6F%77%20%77%65%20%63%6F%6C%6C%65%63%74%20%61%6E%64%20%75%74%69%6C%69%7A%65%20%79%6F%75%72%20%70%65%72%73%6F%6E%61%6C%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%59%6F%75%20%61%72%65%20%61%73%6B%65%64%20%74%6F%20%70%72%6F%76%69%64%65%20%75%73%20%77%69%74%68%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%73%75%63%68%20%61%73%20%79%6F%75%72%20%6E%61%6D%65%2C%20%65%6D%61%69%6C%20%61%64%64%72%65%73%73%2C%20%61%6E%64%20%7A%69%70%20%63%6F%64%65%20%77%68%65%6E%20%79%6F%75%20%63%68%6F%6F%73%65%20%74%6F%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%63%6F%6E%74%61%63%74%20%75%73%20%74%68%72%6F%75%67%68%20%6F%75%72%20%57%65%62%73%69%74%65%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%57%65%20%72%65%71%75%65%73%74%20%74%68%69%73%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%73%6F%20%74%68%61%74%20%77%65%20%63%61%6E%20%72%65%73%70%6F%6E%64%20%74%6F%20%79%6F%75%72%20%69%6E%71%75%69%72%69%65%73%20%61%6E%64%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%6B%65%65%70%20%74%72%61%63%6B%20%6F%66%20%74%68%65%20%69%6E%64%69%76%69%64%75%61%6C%73%20%61%6E%64%20%6F%72%67%61%6E%69%7A%61%74%69%6F%6E%73%20%69%6E%74%65%72%65%73%74%65%64%20%69%6E%20%6F%75%72%20%70%72%6F%64%75%63%74%73%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%6E%64%20%73%65%72%76%69%63%65%73%2E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%57%68%65%6E%20%79%6F%75%20%65%6E%72%6F%6C%6C%20%69%6E%20%6F%75%72%20%6F%6E%6C%69%6E%65%20%63%75%73%74%6F%6D%65%72%20%70%6F%72%74%61%6C%2C%20%77%65%20%61%73%6B%20%66%6F%72%20%79%6F%75%72%20%65%6D%61%69%6C%20%61%64%64%72%65%73%73%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%6E%64%20%6D%6F%62%69%6C%65%20%70%68%6F%6E%65%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%6E%75%6D%62%65%72%20%69%6E%20%6F%72%64%65%72%20%74%6F%20%6D%61%6E%61%67%65%20%61%6E%64%20%73%65%63%75%72%65%20%6F%75%72%20%6F%6E%6C%69%6E%65%20%63%75%73%74%6F%6D%65%72%20%70%6F%72%74%61%6C%20%61%63%63%65%73%73%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%73%69%6E%67%6C%65%2D%74%65%72%6D%73%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%33%3E%49%73%20%6D%79%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%73%68%61%72%65%64%3F%3C%2F%68%33%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%57%65%20%77%69%6C%6C%20%73%68%61%72%65%20%64%61%74%61%20%77%69%74%68%20%74%68%69%72%64%20%70%61%72%74%69%65%73%20%6F%6E%6C%79%20%69%6E%20%74%68%65%20%77%61%79%73%20%74%68%61%74%20%61%72%65%20%64%65%73%63%72%69%62%65%64%20%61%62%6F%76%65%20%61%6E%64%3A%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%75%6C%20%63%6C%61%73%73%3D%22%63%6F%6E%74%65%6E%74%2D%66%65%61%74%75%72%65%2D%6C%69%73%74%20%6C%69%73%74%2D%73%74%79%6C%65%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%69%20%63%6C%61%73%73%3D%22%72%69%2D%63%68%65%63%6B%62%6F%78%2D%6D%75%6C%74%69%70%6C%65%2D%6C%69%6E%65%22%3E%3C%2F%69%3E%61%73%20%72%65%71%75%69%72%65%64%20%62%79%20%6C%61%77%2C%20%73%75%63%68%20%61%73%20%74%6F%20%63%6F%6D%70%6C%79%20%77%69%74%68%20%61%20%73%75%62%70%6F%65%6E%61%2C%20%6F%72%20%73%69%6D%69%6C%61%72%20%6C%65%67%61%6C%20%70%72%6F%63%65%73%73%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%69%20%63%6C%61%73%73%3D%22%72%69%2D%63%68%65%63%6B%62%6F%78%2D%6D%75%6C%74%69%70%6C%65%2D%6C%69%6E%65%22%3E%3C%2F%69%3E%77%68%65%6E%20%77%65%20%62%65%6C%69%65%76%65%20%69%6E%20%67%6F%6F%64%20%66%61%69%74%68%20%74%68%61%74%20%64%69%73%63%6C%6F%73%75%72%65%20%69%73%20%6E%65%63%65%73%73%61%72%79%20%74%6F%20%70%72%6F%74%65%63%74%20%6F%75%72%20%72%69%67%68%74%73%2C%20%70%72%6F%74%65%63%74%20%79%6F%75%72%20%73%61%66%65%74%79%20%6F%72%20%74%68%65%20%73%61%66%65%74%79%20%6F%66%20%6F%74%68%65%72%73%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%69%6E%76%65%73%74%69%67%61%74%65%20%66%72%61%75%64%2C%20%6F%72%20%72%65%73%70%6F%6E%64%20%74%6F%20%61%20%67%6F%76%65%72%6E%6D%65%6E%74%20%72%65%71%75%65%73%74%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%69%20%63%6C%61%73%73%3D%22%72%69%2D%63%68%65%63%6B%62%6F%78%2D%6D%75%6C%74%69%70%6C%65%2D%6C%69%6E%65%22%3E%3C%2F%69%3E%77%69%74%68%20%74%72%75%73%74%65%64%20%73%65%72%76%69%63%65%20%70%72%6F%76%69%64%65%72%73%2C%20%69%66%20%72%65%71%75%69%72%65%64%20%66%6F%72%20%70%75%72%70%6F%73%65%73%20%6F%66%20%72%65%73%70%6F%6E%64%69%6E%67%20%74%6F%20%73%70%65%63%69%66%69%63%20%69%6E%71%75%69%72%69%65%73%3B%20%6F%72%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%6C%69%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%6C%69%3E%3C%69%20%63%6C%61%73%73%3D%22%72%69%2D%63%68%65%63%6B%62%6F%78%2D%6D%75%6C%74%69%70%6C%65%2D%6C%69%6E%65%22%3E%3C%2F%69%3E%69%66%20%55%6E%69%6B%20%53%61%76%69%6E%67%73%20%69%73%20%69%6E%76%6F%6C%76%65%64%20%69%6E%20%61%20%6D%65%72%67%65%72%2C%20%61%63%71%75%69%73%69%74%69%6F%6E%2C%20%6F%72%20%73%61%6C%65%3B%20%69%6E%20%73%75%63%68%20%61%20%63%61%73%65%2C%20%79%6F%75%20%77%69%6C%6C%20%62%65%20%6E%6F%74%69%66%69%65%64%20%76%69%61%20%61%20%6E%6F%74%69%66%69%63%61%74%69%6F%6E%20%73%65%6E%74%20%74%68%72%6F%75%67%68%20%65%6D%61%69%6C%2C%20%61%6E%64%2F%6F%72%20%61%20%70%72%6F%6D%69%6E%65%6E%74%20%6E%6F%74%69%63%65%20%6F%6E%20%6F%75%72%20%57%65%62%73%69%74%65%20%6F%66%20%61%6E%79%20%63%68%61%6E%67%65%20%69%6E%20%6F%77%6E%65%72%73%68%69%70%20%6F%72%20%75%73%65%73%20%6F%66%20%79%6F%75%72%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%73%20%77%65%6C%6C%20%61%73%20%61%6E%79%20%63%68%6F%69%63%65%73%20%79%6F%75%20%6D%61%79%20%68%61%76%65%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%6C%69%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%75%6C%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%73%69%6E%67%6C%65%2D%74%65%72%6D%73%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%33%3E%41%75%74%6F%6D%61%74%69%63%61%6C%6C%79%20%43%6F%6C%6C%65%63%74%65%64%20%49%6E%66%6F%72%6D%61%74%69%6F%6E%3C%2F%68%33%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%57%65%20%67%61%74%68%65%72%20%63%65%72%74%61%69%6E%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%61%75%74%6F%6D%61%74%69%63%61%6C%6C%79%20%66%72%6F%6D%20%6F%75%72%20%57%65%62%73%69%74%65%20%76%69%73%69%74%6F%72%73%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%73%75%63%68%20%61%73%20%74%68%65%69%72%20%49%50%20%61%64%64%72%65%73%73%20%6F%72%20%75%6E%69%71%75%65%20%64%65%76%69%63%65%20%69%64%65%6E%74%69%66%69%65%72%2C%20%61%6E%64%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%62%6F%75%74%20%74%68%65%20%62%72%6F%77%73%65%72%20%62%65%69%6E%67%20%75%73%65%64%2C%20%74%68%65%20%70%61%67%65%73%20%76%69%65%77%65%64%2C%20%61%6E%64%20%74%68%65%20%74%69%6D%65%20%73%70%65%6E%74%20%6F%6E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%65%61%63%68%20%70%61%67%65%2E%20%57%65%20%75%73%65%20%74%68%69%73%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%66%6F%72%20%74%68%65%20%61%64%6D%69%6E%69%73%74%72%61%74%69%6F%6E%20%61%6E%64%20%6F%70%65%72%61%74%69%6F%6E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%6F%66%20%6F%75%72%20%57%65%62%73%69%74%65%2C%20%74%6F%20%75%6E%64%65%72%73%74%61%6E%64%20%68%6F%77%20%76%69%73%69%74%6F%72%73%20%69%6E%74%65%72%61%63%74%20%77%69%74%68%20%6F%75%72%20%73%65%72%76%69%63%65%73%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%74%6F%20%69%6D%70%72%6F%76%65%20%6F%75%72%20%57%65%62%73%69%74%65%20%61%6E%64%20%73%65%72%76%69%63%65%73%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%6E%64%20%66%6F%72%20%61%6E%61%6C%79%74%69%63%73%20%61%6E%64%20%6D%61%72%6B%65%74%69%6E%67%20%70%75%72%70%6F%73%65%73%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%73%69%6E%67%6C%65%2D%74%65%72%6D%73%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%33%3E%44%61%74%61%20%50%72%6F%74%65%63%74%69%6F%6E%3C%2F%68%33%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%57%65%20%70%72%6F%76%69%64%65%20%63%6F%6D%6D%65%72%63%69%61%6C%6C%79%20%72%65%61%73%6F%6E%61%62%6C%65%20%70%68%79%73%69%63%61%6C%2C%20%65%6C%65%63%74%72%6F%6E%69%63%2C%20%61%6E%64%20%70%72%6F%63%65%64%75%72%61%6C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%73%61%66%65%67%75%61%72%64%73%20%74%6F%20%70%72%6F%74%65%63%74%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%63%6F%6C%6C%65%63%74%65%64%20%74%68%72%6F%75%67%68%20%6F%75%72%20%57%65%62%73%69%74%65%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%50%6C%65%61%73%65%20%62%65%20%61%77%61%72%65%20%74%68%61%74%20%6E%6F%20%73%65%63%75%72%69%74%79%20%73%79%73%74%65%6D%20%69%73%20%66%6F%6F%6C%70%72%6F%6F%66%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%41%73%20%61%20%72%65%73%75%6C%74%2C%20%77%65%20%63%61%6E%6E%6F%74%20%67%75%61%72%61%6E%74%65%65%20%74%68%65%20%73%65%63%75%72%69%74%79%20%6F%66%20%61%6E%79%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%74%72%61%6E%73%6D%69%74%74%65%64%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%74%6F%20%75%73%20%61%6E%64%20%63%61%6E%6E%6F%74%20%62%65%20%72%65%73%70%6F%6E%73%69%62%6C%65%20%66%6F%72%20%74%68%65%20%74%68%65%66%74%2C%20%64%65%73%74%72%75%63%74%69%6F%6E%2C%20%6D%69%73%75%73%65%2C%20%75%6E%61%75%74%68%6F%72%69%7A%65%64%20%61%63%63%65%73%73%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%61%6C%74%65%72%61%74%69%6F%6E%2C%20%6F%72%20%69%6E%61%64%76%65%72%74%65%6E%74%20%64%69%73%63%6C%6F%73%75%72%65%20%6F%66%20%79%6F%75%72%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%69%76%20%63%6C%61%73%73%3D%22%73%69%6E%67%6C%65%2D%74%65%72%6D%73%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%68%33%3E%4F%75%72%20%50%6F%6C%69%63%79%20%46%6F%72%20%41%67%65%20%55%6E%64%65%72%20%31%38%3C%2F%68%33%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%4F%75%72%20%57%65%62%73%69%74%65%20%69%73%20%6E%6F%74%20%69%6E%74%65%6E%64%65%64%20%66%6F%72%20%63%68%69%6C%64%72%65%6E%20%75%6E%64%65%72%20%74%68%65%20%61%67%65%20%6F%66%20%31%38%2E%20%49%66%20%79%6F%75%20%62%65%6C%69%65%76%65%20%74%68%61%74%20%77%65%20%68%61%76%65%20%69%6E%61%64%76%65%72%74%65%6E%74%6C%79%20%63%6F%6C%6C%65%63%74%65%64%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%20%66%72%6F%6D%20%61%20%63%68%69%6C%64%20%75%6E%64%65%72%20%31%33%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%70%6C%65%61%73%65%20%63%6F%6E%74%61%63%74%20%75%73%20%73%6F%20%77%65%20%63%61%6E%20%70%72%6F%6D%70%74%6C%79%20%64%65%6C%65%74%65%20%74%68%65%69%72%20%69%6E%66%6F%72%6D%61%74%69%6F%6E%2E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%69%76%3E%0A%20%20%20%20%20%20%20%20%20%3C%2F%73%65%63%74%69%6F%6E%3E%0A%0A%20%20%20%20%20%20%3C%2F%64%69%76%3E'))</script>

<footer class="footer-wrap">©2025  <div class="container">
    <div class="row pt-100 pb-75">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
        <div class="footer-widget">
          <a href="#" class="footer-logo">
            <img width="200px" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="Image">
          </a>
          <p class="comp-desc">
            Copyright ©2025 Clients may be referred to Capital Swift Ameritrade, Inc.,
            member FINRA/00/WSS/SIPC/NFA
            (Capital Swift Ameritrade) for brokerage services and
            additional investing options. Capital Swift Group has an ownership interest in
            Capital Swift Ameritrade Holding Corporation,
            the parent company of Capital Swift Ameritrade, Inc.

          </p>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Resources</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/contact">
                Contact Us
              </a>
            </li>
            <li>
              <a href="/faq">
                FAQ's
              </a>
            </li>

            <li>
              <a href="/privacy-policy">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="/terms-of-service">
                Terms &amp; Conditions
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Transfer Money</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/login">
                Register/Login
              </a>
            </li>
            <li>
              <a href="/chart">
                Currency Chart
              </a>
            </li>
            <li>
              <a href="/login">
                USA Money Transfer
              </a>
            </li>
            <li>
              <a href="/login">
                EUR Money Transfer
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Contact Us</h3>
          <ul class="contact-info list-style">
            <li>
              <i class="ri-map-pin-fill"></i>
              <p>Ohio United States</p>
            </li>
            <li>
              <i class="ri-mail-open-fill"></i>
              <a href="mailto: cshrem04@gmail.com"><span><span>support@capitalSwift.click</span></span></a>
            </li>
            <li>
              <i class="ri-phone-fill"></i>
              <a href="tel:N/A">N/A</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Capital Swift </span>. All Rights
          Reserved By <a href="#">Capital Swift</a>&trade;</p>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="http://code.tidio.co/dtvfgsp8usgp6rxzuv1v9ullmirlv0j6.js" async></script> -->
</div>


<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>

<script data-cfasync="false" src="https://capitalswiss.click/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/form-validator.min.js"></script>
<script src="assets/js/contact-form-script.js"></script>
<script src="assets/js/aos.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/fancybox.js"></script>
<script src="assets/js/jquery.appear.js"></script>
<script src="assets/js/tweenmax.min.js"></script>
<script src="assets/js/main.js"></script>


<script type="text/javascript">
   function googleTranslateElementInit() {
      new google.translate.TranslateElement({
         pageLanguage: 'en'
      }, 'google_translate_element');
   }
</script>
<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style type="text/css">
   .goog-logo-link {
      display: none !important;
   }

   .goog-te-gadget {
      color: transparent !important;
      border-color: transparent !important;
      background-color: transparent !important;
   }

   .goog-te-gadget .goog-te-combo {
      width: 184px;
      padding: 1px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: whitesmoke !important;
      border-radius: 5px;
      font-size: 13px;
      border-color: transparent !important;
      background-color: #D10404 !important;
   }
</style>
</body>


<!-- Mirrored from capitalswiss.click/privacy-policy by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Jan 2025 23:55:13 GMT -->
</html>