<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from capitalswiss.click/register by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Jan 2025 23:58:54 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/remixicon.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/odometer.min.css">
  <link rel="stylesheet" href="assets/css/fancybox.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <link rel="stylesheet" href="assets/css/dark-theme.css">
  <link rel="stylesheet" href="sweetalert/dist/sweetalert2.min.css">
  <link rel="shortcut icon" href="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" type="image/png">
  <script src="../unpkg.com/sweetalert%402.1.2/dist/sweetalert.min.js"></script>
  <title>Welcome to Capital Swiss</title>
  <style>
  .message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
  }

  /* #loader { */
    /* display: inline-block; */
    /* width: 40px; */
    /* height: 40px; */
    /* border: 4px solid #f3f3f3; */
    /* border-top: 4px solid #3498db; */
    /* border-radius: 50%; */
    /* animation: spin 1s linear infinite; */
  /* } */

  /* @keyframes spin { */
    /* 0% { */
      /* transform: rotate(0deg); */
    /* } */

    /* 100% { */
      /* transform: rotate(360deg); */
    /* } */
  /* } */

  .hidden {
    display: none;
  }
  </style>
  <meta name="description" content="">
  <meta property="og:image" content="assets/image/preview.png">
  <meta name="robots" content="noindex,nofollow">
</head>

<body>

  <!-- <div class="preloader js-preloader"> -->
    <!-- <div class="loader loader-inner-1"> -->
      <!-- <div class="loader loader-inner-2"> -->
        <!-- <div class="loader loader-inner-3"> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="switch-theme-mode">
    <label id="switch" class="switch">
      <input type="checkbox" onchange="toggleTheme()" id="slider">
      <span class="slider round"></span>
    </label>
  </div>


  <div class="page-wrapper">

    <header class="header-wrap style1">
      <div class="header-top">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <div class="header-top-left">
                <ul class="contact-info list-style">
                  <!--<li>-->
                  <!--   <i class="ri-phone-fill"></i>-->
                  <!--   <a href="tel:"></a>-->
                  <!--</li>-->
                  <li>
                    <i class="ri-mail-open-line"></i>
                    <a href="mailto: cshrem04@gmail.com"><span><span>support@capitalswift.click</span></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="header-top-right">
                <div id="google_translate_element"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="header-bottom">
      <div class="container">
         <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/login">
               <img width="170px" class="logo-light" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="logo">
               <!-- <img width="170px" class="logo-dark" src="assets/img/logo.png" alt="logo"> -->
            </a>
            <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
               <div class="menu-close d-lg-none">
                  <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
               </div>
               <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                     <a href="/login" class="nav-link">
                        Home
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/about-us" class="nav-link">
                        About
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        Converter
                        <i class="ri-arrow-down-s-line"></i>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="nav-item">
                           <a href="/converter" class="nav-link">Convert Currency</a>
                        </li>
                        <li class="nav-item">
                           <a href="/chart" class="nav-link">Currency Chart</a>
                        </li>

                        <li class="nav-item">
                           <a href="/alerts" class="nav-link">Exchange Rate Alert</a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        Pages
                        <i class="ri-arrow-down-s-line"></i>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="nav-item">
                           <a href="/faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link">
                              Access Account
                              <i class="ri-arrow-right-s-line"></i>
                           </a>
                           <ul class="dropdown-menu">
                              <li class="nav-item">
                                 <a href="/login" class="nav-link">Login</a>
                              </li>
                              <li class="nav-item">
                                 <a href="/register" class="nav-link">Register</a>
                              </li>
                              <!-- <li class="nav-item"> -->
                                 <!-- <a href="/recover-password" class="nav-link">Recover Password</a> -->
                              <!-- </li> -->
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a href="/terms-of-service" class="nav-link">Terms of Service</a>
                        </li>
                        <li class="nav-item">
                           <a href="/privacy-policy" class="nav-link">Privacy Policy</a>
                        </li>

                     </ul>
                  </li>

                  <li class="nav-item">
                     <a href="/contact-us" class="nav-link">Contact Us</a>
                  </li>
                  <li class="nav-item d-lg-none">
                     <a href="/login" class="nav-link btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
                  </li>
               </ul>
               <div class="other-options md-none">
                  <div class="option-item">
                     <div class="user-login">
                        <span><i class="ri-user-add-line"></i></span>
                        <ul class="list-style">
                           <li><a href="/login">Log In</a></li>
                           <li><a href="/register">Create Account</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="option-item">
                     <a href="/login" class="btn style1">My Account<i class="ri-arrow-right-s-line"></i></a>
                  </div>
               </div>
            </div>
         </nav>
         <div class="mobile-bar-wrap">
            <div class="user-login d-lg-none">
               <span><i class="ri-user-add-line"></i></span>
               <ul class="list-style">
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/register">Create Account</a></li>
               </ul>
            </div>
            <div class="mobile-menu d-lg-none">
               <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
               <span>Menu</span>
            </div>
         </div>
      </div>
   </div>
    </header>


    <div class="content-wrapper">

      <div class="breadcrumb-wrap bg-f br-1">
        <div class="container">
          <div class="breadcrumb-title">
            <h2>Register</h2>
            <ul class="breadcrumb-menu list-style">
              <li><a href="/">Home </a></li>
              <li>Register</li>
            </ul>
          </div>
        </div>
      </div>

      <section class="Login-wrap ptb-100">
        <div class="container">

          <form  action="/register" method="post" id="RegisterForm">
            <div class="row ">
              <div class="col-xl-10 col-lg-10  col-md-10 offset-md-1">
                <div class="login-form-wrap">
                  <div class="login-header">
                    <h3>Enroll For A New Account</h3>
                    <p><small>Enroll in Capital Swiss Online Banking | <b>Let's Get Started</b></small></p>
                  </div>
                  <div id="result"></div>
                  <div class="login-form">
                    <div class="login-body">
                      <div class="form-wrap">
                        <div class="row">
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="username"><small>First Name</small><span class="text-danger">* </span></label>
                              <input id="firstname" name="firstname" placeholder="First Name" type="text">
                            </div>
                            <span class="firstname error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="username"><small>Middle Name</small></label>
                              <input id="midname" name="midname" placeholder="Middle Name" type="text">
                            </div>
                            <span class="midname error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="username"><small>Last Name</small><span class="text-danger">* </span></label>
                              <input id="lastname" name="lastname" placeholder="Last Name" type="text">
                            </div>
                            <span class="lastname error"></span>
                          </div>
                          <div class="col-12 col-lg-8">
                            <div class="form-group">
                              <label for="username"><small><b>Email</b> </small><span class="text-danger">*
                                </span></label>
                              <input id="email" name="email" type="email" placeholder="user@example.com">
                            </div>
                            <span class="email error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="phone"><small><b>Phone Number</b></small><span class="text-danger">*
                                </span></label>
                              <input type="tel" id="tel" name="tel" placeholder="+1 (000) 000-0000">
                            </div>
                            <span class="tel error"></span>
                          </div>

                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="phone"><small><b>Gender</b></small><span class="text-danger">* </span></label>
                              <select class="form-control" name="gender" id="gender">
                                <option disabled selected>Select an option</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                              </select>
                            </div>
                            <span class="gender error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="phone"><small><b>Date of Birth</b></small><span class="text-danger">*
                                </span></label>
                              <input type="date" name="Dob" id="Dob">
                            </div>
                            <span class="Dob error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-4">
                            <div class="form-group">
                              <label for="">Account Type</label>
                              <select name="account" id="account" class="form-first-name form-control"
                                id="form-first-name">
                                <option disabled selected>Select an option</option>
                                <option value="Checking Account">Checking Account</option>
                                <option value="Savings Account">Saving Account</option>
                                <option value="Fixed Deposit Account">Fixed Deposit Account</option>
                                <option value="Current Account">Current Account</option>
                                <option value="Business Account">Business Account</option>
                                <option value="Non Resident Account">Non Resident Account</option>
                                <option value="Cooperate Business Account">Cooperate Business Account</option>
                                <option value="Investment Account">Investment Account</option>
                              </select>
                            </div>
                            <span class="account error"></span>
                          </div>

                          <hr style="border:1px dashed">
                          <br>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="email"><small>Residential Address</small><span class="text-danger">*
                                </span></label>
                              <input id="address" name="address" type="text">
                            </div>
                            <span class="address error"></span>
                          </div>
                          <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                              <label for="email"><small>Postal Code</small><span class="text-danger">* </span></label>
                              <input id="postal" name="postal" type="text">
                            </div>
                            <span class="postal error"></span>
                          </div>
                          <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                              <label for="email"><small>State</small><span class="text-danger">* </span></label>
                              <input id="state" name="state" type="text">
                            </div>
                            <span class="state error"></span>
                          </div>
                          <div class="col-sm-12 col-lg-3">
                            <div class="form-group">
                              <label for="phone"><small><b>Country</b></small><span class="text-danger">*
                                </span></label>
                              <select class="form-control" name="country" id="country">
                                <option disabled selected>Select a country</option>
                                <option value="Afghanistan">Afghanistan</option>

                                <option value="Albania">Albania</option>

                                <option value="Algeria">Algeria</option>

                                <option value="American Samoa">American Samoa</option>

                                <option value="Andorra">Andorra</option>

                                <option value="Angola">Angola</option>

                                <option value="Anguilla">Anguilla</option>

                                <option value="Antarctica">Antarctica</option>

                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>

                                <option value="Argentina">Argentina</option>

                                <option value="Armenia">Armenia</option>

                                <option value="Aruba">Aruba</option>

                                <option value="Australia">Australia</option>

                                <option value="Austria">Austria</option>

                                <option value="Azerbaijan">Azerbaijan</option>

                                <option value="Bahamas">Bahamas</option>

                                <option value="Bahrain">Bahrain</option>

                                <option value="Bangladesh">Bangladesh</option>

                                <option value="Barbados">Barbados</option>

                                <option value="Belarus">Belarus</option>

                                <option value="Belgium">Belgium</option>

                                <option value="Belize">Belize</option>

                                <option value="Benin">Benin</option>

                                <option value="Bermuda">Bermuda</option>

                                <option value="Bhutan">Bhutan</option>

                                <option value="Bolivia">Bolivia</option>

                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>

                                <option value="Botswana">Botswana</option>

                                <option value="Bouvet Island">Bouvet Island</option>

                                <option value="Brazil">Brazil</option>

                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>

                                <option value="Brunei Darussalam">Brunei Darussalam</option>

                                <option value="Bulgaria">Bulgaria</option>

                                <option value="Burkina Faso">Burkina Faso</option>

                                <option value="Burundi">Burundi</option>

                                <option value="Cambodia">Cambodia</option>

                                <option value="Cameroon">Cameroon</option>

                                <option value="Canada">Canada</option>

                                <option value="Cape Verde">Cape Verde</option>

                                <option value="Cayman Islands">Cayman Islands</option>

                                <option value="Central African Republic">Central African Republic</option>

                                <option value="Chad">Chad</option>

                                <option value="Chile">Chile</option>

                                <option value="China">China</option>

                                <option value="Christmas Island">Christmas Island</option>

                                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>

                                <option value="Colombia">Colombia</option>

                                <option value="Comoros">Comoros</option>

                                <option value="Democratic Republic of the Congo">Democratic Republic of the Congo
                                </option>

                                <option value="Republic of Congo">Republic of Congo</option>

                                <option value="Cook Islands">Cook Islands</option>

                                <option value="Costa Rica">Costa Rica</option>

                                <option value="Croatia (Hrvatska)">Croatia (Hrvatska)</option>

                                <option value="Cuba">Cuba</option>

                                <option value="Cyprus">Cyprus</option>

                                <option value="Czech Republic">Czech Republic</option>

                                <option value="Denmark">Denmark</option>

                                <option value="Djibouti">Djibouti</option>

                                <option value="Dominica">Dominica</option>

                                <option value="Dominican Republic">Dominican Republic</option>

                                <option value="East Timor">East Timor</option>

                                <option value="Ecuador">Ecuador</option>

                                <option value="Egypt">Egypt</option>

                                <option value="El Salvador">El Salvador</option>

                                <option value="Equatorial Guinea">Equatorial Guinea</option>

                                <option value="Eritrea">Eritrea</option>

                                <option value="Estonia">Estonia</option>

                                <option value="Ethiopia">Ethiopia</option>

                                <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>

                                <option value="Faroe Islands">Faroe Islands</option>

                                <option value="Fiji">Fiji</option>

                                <option value="Finland">Finland</option>

                                <option value="France">France</option>

                                <option value="France, Metropolitan">France, Metropolitan</option>

                                <option value="French Guiana">French Guiana</option>

                                <option value="French Polynesia">French Polynesia</option>

                                <option value="French Southern Territories">French Southern Territories</option>

                                <option value="Gabon">Gabon</option>

                                <option value="Gambia">Gambia</option>

                                <option value="Georgia">Georgia</option>

                                <option value="Germany">Germany</option>

                                <option value="Ghana">Ghana</option>

                                <option value="Gibraltar">Gibraltar</option>

                                <option value="Guernsey">Guernsey</option>

                                <option value="Greece">Greece</option>

                                <option value="Greenland">Greenland</option>

                                <option value="Grenada">Grenada</option>

                                <option value="Guadeloupe">Guadeloupe</option>

                                <option value="Guam">Guam</option>

                                <option value="Guatemala">Guatemala</option>

                                <option value="Guinea">Guinea</option>

                                <option value="Guinea-Bissau">Guinea-Bissau</option>

                                <option value="Guyana">Guyana</option>

                                <option value="Haiti">Haiti</option>

                                <option value="Heard and Mc Donald Islands">Heard and Mc Donald Islands</option>

                                <option value="Honduras">Honduras</option>

                                <option value="Hong Kong">Hong Kong</option>

                                <option value="Hungary">Hungary</option>

                                <option value="Iceland">Iceland</option>

                                <option value="India">India</option>

                                <option value="Isle of Man">Isle of Man</option>

                                <option value="Indonesia">Indonesia</option>

                                <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>

                                <option value="Iraq">Iraq</option>

                                <option value="Ireland">Ireland</option>

                                <option value="Israel">Israel</option>

                                <option value="Italy">Italy</option>

                                <option value="Ivory Coast">Ivory Coast</option>

                                <option value="Jersey">Jersey</option>

                                <option value="Jamaica">Jamaica</option>

                                <option value="Japan">Japan</option>

                                <option value="Jordan">Jordan</option>

                                <option value="Kazakhstan">Kazakhstan</option>

                                <option value="Kenya">Kenya</option>

                                <option value="Kiribati">Kiribati</option>

                                <option value="Korea, Democratic People's Republic of">Korea, Democratic People's
                                  Republic of</option>

                                <option value="Korea, Republic of">Korea, Republic of</option>

                                <option value="Kosovo">Kosovo</option>

                                <option value="Kuwait">Kuwait</option>

                                <option value="Kyrgyzstan">Kyrgyzstan</option>

                                <option value="Lao People's Democratic Republic">Lao People's Democratic Republic
                                </option>

                                <option value="Latvia">Latvia</option>

                                <option value="Lebanon">Lebanon</option>

                                <option value="Lesotho">Lesotho</option>

                                <option value="Liberia">Liberia</option>

                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>

                                <option value="Liechtenstein">Liechtenstein</option>

                                <option value="Lithuania">Lithuania</option>

                                <option value="Luxembourg">Luxembourg</option>

                                <option value="Macau">Macau</option>

                                <option value="North Macedonia">North Macedonia</option>

                                <option value="Madagascar">Madagascar</option>

                                <option value="Malawi">Malawi</option>

                                <option value="Malaysia">Malaysia</option>

                                <option value="Maldives">Maldives</option>

                                <option value="Mali">Mali</option>

                                <option value="Malta">Malta</option>

                                <option value="Marshall Islands">Marshall Islands</option>

                                <option value="Martinique">Martinique</option>

                                <option value="Mauritania">Mauritania</option>

                                <option value="Mauritius">Mauritius</option>

                                <option value="Mayotte">Mayotte</option>

                                <option value="Mexico">Mexico</option>

                                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>

                                <option value="Moldova, Republic of">Moldova, Republic of</option>

                                <option value="Monaco">Monaco</option>

                                <option value="Mongolia">Mongolia</option>

                                <option value="Montenegro">Montenegro</option>

                                <option value="Montserrat">Montserrat</option>

                                <option value="Morocco">Morocco</option>

                                <option value="Mozambique">Mozambique</option>

                                <option value="Myanmar">Myanmar</option>

                                <option value="Namibia">Namibia</option>

                                <option value="Nauru">Nauru</option>

                                <option value="Nepal">Nepal</option>

                                <option value="Netherlands">Netherlands</option>

                                <option value="Netherlands Antilles">Netherlands Antilles</option>

                                <option value="New Caledonia">New Caledonia</option>

                                <option value="New Zealand">New Zealand</option>

                                <option value="Nicaragua">Nicaragua</option>

                                <option value="Niger">Niger</option>

                                <option value="Nigeria">Nigeria</option>

                                <option value="Niue">Niue</option>

                                <option value="Norfolk Island">Norfolk Island</option>

                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>

                                <option value="Norway">Norway</option>

                                <option value="Oman">Oman</option>

                                <option value="Pakistan">Pakistan</option>

                                <option value="Palau">Palau</option>

                                <option value="Palestine">Palestine</option>

                                <option value="Panama">Panama</option>

                                <option value="Papua New Guinea">Papua New Guinea</option>

                                <option value="Paraguay">Paraguay</option>

                                <option value="Peru">Peru</option>

                                <option value="Philippines">Philippines</option>

                                <option value="Pitcairn">Pitcairn</option>

                                <option value="Poland">Poland</option>

                                <option value="Portugal">Portugal</option>

                                <option value="Puerto Rico">Puerto Rico</option>

                                <option value="Qatar">Qatar</option>

                                <option value="Reunion">Reunion</option>

                                <option value="Romania">Romania</option>

                                <option value="Russian Federation">Russian Federation</option>

                                <option value="Rwanda">Rwanda</option>

                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>

                                <option value="Saint Lucia">Saint Lucia</option>

                                <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines
                                </option>

                                <option value="Samoa">Samoa</option>

                                <option value="San Marino">San Marino</option>

                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>

                                <option value="Saudi Arabia">Saudi Arabia</option>

                                <option value="Senegal">Senegal</option>

                                <option value="Serbia">Serbia</option>

                                <option value="Seychelles">Seychelles</option>

                                <option value="Sierra Leone">Sierra Leone</option>

                                <option value="Singapore">Singapore</option>

                                <option value="Slovakia">Slovakia</option>

                                <option value="Slovenia">Slovenia</option>

                                <option value="Solomon Islands">Solomon Islands</option>

                                <option value="Somalia">Somalia</option>

                                <option value="South Africa">South Africa</option>

                                <option value="South Georgia South Sandwich Islands">South Georgia South Sandwich
                                  Islands</option>

                                <option value="South Sudan">South Sudan</option>

                                <option value="Spain">Spain</option>

                                <option value="Sri Lanka">Sri Lanka</option>

                                <option value="St. Helena">St. Helena</option>

                                <option value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>

                                <option value="Sudan">Sudan</option>

                                <option value="Suriname">Suriname</option>

                                <option value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>

                                <option value="Swaziland">Swaziland</option>

                                <option value="Sweden">Sweden</option>

                                <option value="Switzerland">Switzerland</option>

                                <option value="Syrian Arab Republic">Syrian Arab Republic</option>

                                <option value="Taiwan">Taiwan</option>

                                <option value="Tajikistan">Tajikistan</option>

                                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>

                                <option value="Thailand">Thailand</option>

                                <option value="Togo">Togo</option>

                                <option value="Tokelau">Tokelau</option>

                                <option value="Tonga">Tonga</option>

                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>

                                <option value="Tunisia">Tunisia</option>

                                <option value="Turkey">Turkey</option>

                                <option value="Turkmenistan">Turkmenistan</option>

                                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>

                                <option value="Tuvalu">Tuvalu</option>

                                <option value="Uganda">Uganda</option>

                                <option value="Ukraine">Ukraine</option>

                                <option value="United Arab Emirates">United Arab Emirates</option>

                                <option value="United Kingdom">United Kingdom</option>

                                <option value="United States">United States</option>

                                <option value="United States minor outlying islands">United States minor outlying
                                  islands</option>

                                <option value="Uruguay">Uruguay</option>

                                <option value="Uzbekistan">Uzbekistan</option>

                                <option value="Vanuatu">Vanuatu</option>

                                <option value="Vatican City State">Vatican City State</option>

                                <option value="Venezuela">Venezuela</option>

                                <option value="Vietnam">Vietnam</option>

                                <option value="Virgin Islands (British)">Virgin Islands (British)</option>

                                <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>

                                <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>

                                <option value="Western Sahara">Western Sahara</option>

                                <option value="Yemen">Yemen</option>

                                <option value="Zambia">Zambia</option>

                                <option value="Zimbabwe">Zimbabwe</option>

                              </select>
                            </div>
                            <span class="country error"></span>
                          </div>
                          <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                              <label for="currency" class="">Currency<span class="text-danger">* </span><i
                                  class="fa fa-credit-card"></i></label>
                              <select class="form-control show-tick ms select2" name="currency" id="currenccy">
                                <option disabled selected>Select an option</option>
                                <option value="&dollar;">($) Dollar</option>
                                <option value="&euro;">(€) Euros </option>
                                <option value="&pound;">(£) Pounds</option>
                                <option value="&#20803;"> (元)Yuan </option>
                                <option value="&yen;">(¥) Yen</option>
                                <option value="&#8361;">(₩) Won</option>
                                <option value="&#8358;">(₦) Naira</option>
                                <option value="&#8377;">(₹) Indian Rupee</option>
                                <option value="&#8369;">(₱) Pesos</option>
                              </select>
                            </div>
                            <span class="currency error"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10  col-md-10 offset-md-1">
                <div class="login-form-wrap">
                  <div class="login-header">
                    <h3>Account Security Information</h3>
                  </div>
                  <div class="login-form">
                    <div class="login-body">
                      <div class="form-wrap" action="#">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="pwd">Password</label>
                              <input id="password" name="password" type="password" required>
                            </div>
                            <span class="password error"></span>
                          </div>
                          <div class="col-12">
                            <p>The password should be at least 8 characters long. To make it stronger use uppercase &
                              lowercase letters &ampl symbols like !#&%)</p>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="pin">Account PIN</label>
                              <input id="pin" name="pin" type="numbers" minlength="4" maxlength="4" pattern="[0-9]+"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                            <span class="pin error"></span>
                          </div>
                          <div class="col-sm-12 col-12 mb-20">
                            <label>
                              <input type="checkbox" id="test_1" name="myCheckbox" required>
                              I Agree with the <a class="link style1" href="/terms-of-service">Terms &amp; conditions</a>
                            </label>
                          </div>
                          <div class="col-lg-12">
                            <div class="form-group">
                              <button class="btn style1" id="btn" type="submit" name="submit" value="submit">
                                <span id="none">CREATE ACCOUNT<i class="ri-arrow-right-s-line"></i></span>
                              </button>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <p class="mb-0">Have an Account? <a class="link style1" href="/login">Sign In</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </section>

    </div>

    <footer class="footer-wrap">©2025  <div class="container">
    <div class="row pt-100 pb-75">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
        <div class="footer-widget">
          <a href="#" class="footer-logo">
            <img width="200px" src="assets/img/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" alt="Image">
          </a>
          <p class="comp-desc">
            Copyright ©2025 Clients may be referred to Capital Swift Ameritrade, Inc.,
            member FINRA/00/WSS/SIPC/NFA
            (Capital Swift Ameritrade) for brokerage services and
            additional investing options. Capital Swiss Group has an ownership interest in
            Capital Swift Ameritrade Holding Corporation,
            the parent company of Capital Swift Ameritrade, Inc.

          </p>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Resources</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/contact">
                Contact Us
              </a>
            </li>
            <li>
              <a href="/faq">
                FAQ's
              </a>
            </li>

            <li>
              <a href="/privacy-policy">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="/terms-of-service">
                Terms &amp; Conditions
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-5 col-md-6 col-sm-6 pe-xl-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Transfer Money</h3>
          <ul class="footer-menu list-style">
            <li>
              <a href="/login">
                Register/Login
              </a>
            </li>
            <li>
              <a href="/chart">
                Currency Chart
              </a>
            </li>
            <li>
              <a href="/login">
                USA Money Transfer
              </a>
            </li>
            <li>
              <a href="/login">
                EUR Money Transfer
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-7 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Contact Us</h3>
          <ul class="contact-info list-style">
            <li>
              <i class="ri-map-pin-fill"></i>
              <p>Ohio United States</p>
            </li>
            <li>
              <i class="ri-mail-open-fill"></i>
              <a href="mailto:cshrem04@gmail.com"><span><span>support@capitalswift.click</span></span></a>
            </li>
            <li>
              <i class="ri-phone-fill"></i>
              <a href="tel:N/A">N/A</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text"><i class="ri-copyright-line"></i> <span>Capital Swift </span>. All Rights
          Reserved By <a href="#">Capital Swift</a>&trade;</p>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="http://code.tidio.co/dtvfgsp8usgp6rxzuv1v9ullmirlv0j6.js" async></script> -->
  </div>


  <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>


  <script>
    const form = document.querySelector('form');
 
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
   
      // get values
      const firstname = form.firstname.value;
      const midname = form.midname.value;
      const lastname = form.lastname.value;
      const email = form.email.value;
      const Dob = form.Dob.value;
      const gender = form.gender.value;
      const tel = form.tel.value;
      const state = form.state.value;
      const account = form.account.value;
      const address = form.address.value;
      const currency = form.currency.value;
      const country = form.country.value;
      const postal = form.postal.value;
      const pin = form.pin.value;
      const password = form.password.value;
      try {
        const res = await fetch('/register', { 
          method: 'POST', 
     body: JSON.stringify({firstname,midname,lastname,email,Dob,gender,tel,state,account,address,currency,country,postal, pin, password
          }),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if (data.user) {
          location.assign('/dashboard');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
  <!-- <script data-cfasync="false" src="https://capitalswiss.click/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
  <!-- <script data-cfasync="false" src="https://cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <!-- <script src="js/form-validator.min.js"></script> -->
  <!-- <script src="assets/js/contact-form-script.js"></script> -->
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/odometer.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/fancybox.js"></script>
  <script src="assets/js/jquery.appear.js"></script>
  <script src="assets/js/tweenmax.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="js/jquery-3.5.1.js"></script>
  <script src="sweetalert/dist/sweetalert2.min.js"></script>
  <script src="sweetalert/dist/sweetalert2.js"></script>
  <script src="sweetalert/dist/sweetalert2.all.js"></script>
  <script src="js/sweetalert2@11.js.js"></script>
  <script src="js/name.js"></script>
  <!-- <script src="js/login.js"></script> -->
  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en'
    }, 'google_translate_element');
  }
  </script>
  <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>

  <style type="text/css">
  .goog-logo-link {
    display: none !important;
  }

  .goog-te-gadget {
    color: transparent !important;
    border-color: transparent !important;
    background-color: transparent !important;
  }

  .goog-te-gadget .goog-te-combo {
    width: 184px;
    padding: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke !important;
    border-radius: 5px;
    font-size: 13px;
    border-color: transparent !important;
    background-color: #D10404 !important;
  }
  </style>
</body>


<!-- Mirrored from capitalswiss.click/register by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Jan 2025 23:59:03 GMT -->
</html>